/*use border to see layout, delete later if necessary*/
* {
    box-sizing: border-box;
}
.top-nav-wrapper     {
border-color: black;
border-style: solid;
margin-left: auto;
margin-right: auto;

}
.col-md-4 {
    height: 50px;
}
.card-img-top {
    height: 200px;
}

.main-container-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    width: 960px;
}
