#nav-header {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
}
#name {
    background-color: #4aaaa5;
    width: 300px;
    color: #ffffff;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.container .col-md-8 {
    font-size: 14px;
}
.container .col-md-12 {
    margin-top: 75px;
    border-color: black;
    border-style: solid;
    margin-bottom: 75px;

}
.card-text {
    font-size: 14px;
}
.card-img-top {
    height: 400px;
}
#about-me {
    border-bottom: solid;
    padding: 20px;
}
.bg-dark text-white mt-4 {
    position: fixed;
}