#nav-header {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
}
#name {
    background-color: #4aaaa5;
    width: 300px;
    color: #ffffff;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.card-img-top {
    
}